# Yaatal Engine
EXPO_PUBLIC_ENGINE_API_URL=http://localhost:5150

# DigitalOcean Spaces (Media Storage)
DO_SPACES_KEY=your_do_spaces_key
DO_SPACES_SECRET=your_do_spaces_secret
DO_SPACES_ENDPOINT=your_do_spaces_endpoint
DO_SPACES_BUCKET=your_do_spaces_bucket

# App Config
NODE_ENV=development